<form class="text-center">
  <input 
    type="text" 
    placeholder="Nome do Novo Baralho" 
    [(ngModel)]="nomeBaralho" 
    name="nomeBaralho"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  <button (click)="criarNovoBaralho(nomeBaralho)" type="submit">Salvar Baralho</button>
</form>

<div *ngIf="baralhoCriado">
  {{nomeBaralho}}
  <label class="block text-gray-700 text-sm font-bold mb-2" for="termoPesquisa">
    Nome Pokemon
  </label>
  <input 
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
    id="username" 
    type="text" 
    placeholder="Pesquisar Cartas"
    [(ngModel)]="termoPesquisa" 
    (input)="onTermoPesquisaChange()">
</div>

<div *ngIf="baralhoCriado && !loading">
  <div class="flex overflow-x-auto mt-2">
    <div *ngIf="cartasPesquisada.length === 0">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Sem dados a exibir!</strong>
        <span class="block sm:inline">Digite o nome do pokemon para pesquisar.</span>        
      </div>
    </div>
    <div *ngFor="let carta of cartasPesquisada" class="flex-none w-64 mr-4">
       <div class="bg-gradient-to-r from-gray-200 to-white p-4 shadow-md rounded-md">
          <img [src]="carta.images.large" alt="Imagem da Carta" class="w-full h-68 object-cover mb-4">
          <h2 class="text-xl font-bold mb-2">{{ carta.name }}</h2>
          <p class="text-sm mb-2"><strong>Tipo:</strong> {{ carta.types[0] }}</p>
          <div class="flex space-x-4">
            <button 
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
              (click)="toggleModal(carta)">
              Detalhes
            </button>
            <button 
              class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              (click)="adicionarAoBaralho(carta, 1)">
              + Baralho
            </button>
          </div>
       </div>
    </div>
  </div> 
</div>

<div *ngIf="baralhos.length > 0">
  <h2>Meus Baralhos</h2>
  <div *ngFor="let b of baralhos; let i = index">
    <h2>Detalhes do Baralho</h2>
    <h3>{{ b.nome }}</h3>
    <div>
      <p>Total de Pokémons: {{ estatisticasBaralho[i]?.totalPokemons }}</p>
      <p>Total de Cartas de Treinador: {{ estatisticasBaralho[i]?.totalCartasTreinador }}</p>
      <p>Total de Cores: {{ estatisticasBaralho[i]?.totalCores }}</p>
    </div>
    <div>
      <div class="flex overflow-x-auto">
        <div *ngFor="let carta of baralho.cartas" class="flex-none w-64 mr-4">
           <div class="bg-white p-4 shadow-md rounded-md">
              <img [src]="carta.imagem" alt="Imagem da Carta" class="w-full h-68 object-cover mb-4">
              <h2 class="text-xl font-bold mb-2">{{ carta.nome }}</h2>
              <p class="text-sm mb-2"><strong>Tipo:</strong> {{ carta.tipo }}</p>
              <div class="flex space-x-4">
                <button 
                  class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
                  (click)="toggleModal(carta)">
                  Detalhes
                </button>
                <button 
                  class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
                  (click)="removerBaralho(carta.id)">
                  Remover
                </button>
              </div>
           </div>
        </div>
      </div> 
    </div>    
  </div>
</div>
  
<!-- Loading -->
<div *ngIf="loading" class="flex items-center justify-center h-screen">
  <div class="animate-spin rounded-full h-32 w-32 border-t-4 border-blue-500"></div>
</div>

<!-- MOdal -->
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          {{cartasPesquisada[0].name}}
        </h3>       
      </div>
      <div class="bg-white p-4 shadow-md rounded-md">
        <img [src]="cartasPesquisada[0].images.large" alt="Imagem da Carta" class="w-60 h-30 object-cover mb-4">
        <h2 class="text-xl font-bold mb-2">{{ cartasPesquisada[0].name }}</h2>
        <p class="text-sm mb-2"><strong>Tipo:</strong> {{ cartasPesquisada[0].types[0] }}</p>        
     </div>
      <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>        
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>